<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <movie-card (click)="openComments(movie)" *ngFor="let movie of movies" [movie]="movie"></movie-card>
</ion-content>
