<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>comments</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
  <ion-list>

    <ion-item *ngFor="let comment of comments">
      <h2>{{ comment.comment }}</h2>
      <p>{{ comment.date | date: 'dd/MM/yyyy HH:mm' }}</p>
    </ion-item>

  </ion-list>
</ion-content>

<ion-footer padding>
  <input type="text" placeholder="Your Comment" #comment>
  <button>
    <ion-icon name="md-send" (click)="saveComment(comment.value)"></ion-icon>
  </button>
</ion-footer>
